params {

    help = false

    // To not filter the received messages, use
    // filter = false
    // Use this block if you have a filter, i.e. a Sequence Bloom Tree of
    // some genomes generated using "sourmash index"
    filter {
        sbt = 'databases/filter.sbt.json'
        sbt_hidden = 'databases/.sbt.filter'
    }


    // Message queue connection
    url = 'localhost'
    // url = 'amqp://ubugbkyk:GgNs09Y0fnCTTFgEFaBnowTOD-ZFYm3v@swan.rmq.cloudamqp.com/ubugbkyk'
    exchange = 'hello'


    send = 'data/send/*.{fasta,fasta.gz,fna,fna.gz,fa,fa.gz}'
    // The following file paths need to be absolute. This is because an
    // infinite process (pathWatch) writes to them as output. The usual
    // publishDir directive -- which allows relative paths -- won't work, bc/
    // it waits until the end of the process, which for an infinite one
    // takes quite a while.
    //receive = '/Users/phi/Dropbox/repos_git/darkq/data/receive'
    //report = '/Users/phi/Dropbox/repos_git/darkq/data/receive_log'
    receive = "$PWD/data/receive"
    report = "$PWD/data/receive_log"
    

    lca = 'databases/gtdb-release89-k31.lca.json.gz'
    tags = 'tags.csv'


    // Is the IPFS daemon running? Can be determined by existance of
    // ~/.ipfs/api
    // https://github.com/ipfs/go-ipfs/issues/5983
    // > Keep in mind that this isn't a 100% safe method as the file may
    // remain there after, say, a crash (see #5784).
    p2p_daemon = HOME + '/.ipfs/api'


    // Sourmash params: Note that they have to be consistent btw/
    // sourmash sketch, index, search and lca classify
    // Sketch params
    scale = 1000
    k = 31
    // Filter threshold
    threshold = 0.95


    // Message params
    id = 'phiweger'

    workdir = "/tmp/nextflow-work-$USER"

}

workDir = params.workdir